.vercel
.env*
!.env.example
.claude/settings.local.json
.worktrees
.superpowers/

# dependencies
/node_modules

# next.js
/.next/
/out/
/build
next-env.d.ts

# testing
/coverage

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
.pnpm-debug.log*
.track
.track-workdir
erros-importacao-*.csv
